* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;

  /* by default browsers adding the padding and border width to boxes, but it's not really helpful. We can disable with this feauture */
}

//this defines what 1rem is
html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

}