.u-center-text {
  text-align: center;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.u-margin-bottom-medium {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 4rem;
}

.u-margin-up-big {
  margin-bottom: -8rem;
}
.u-margin-up-huge {
  margin-bottom: -10rem;
}